# Simple Intro to Pandas

This tutrorial looks at the use of the popular python library Pandas. This is widely used to work with big datasets in ways which one can explore, clean, transformm and wrangle.  

**Tutorial Structure**
- [Preamble](#Preamble)

# Preamble

In [1]:
%load_ext autoreload
%autoreload 2
# install im_tutorial package
!pip install git+https://github.com/nestauk/im_tutorials.git

Collecting git+https://github.com/nestauk/im_tutorials.git
  Cloning https://github.com/nestauk/im_tutorials.git to /tmp/pip-req-build-t9rdtcbm
  Running command git clone -q https://github.com/nestauk/im_tutorials.git /tmp/pip-req-build-t9rdtcbm
Requirement already satisfied (use --upgrade to upgrade): im-tutorials==0.1.0 from git+https://github.com/nestauk/im_tutorials.git in /home/ao95/miniconda3/envs/pyenv_nesta/lib/python3.6/site-packages
Building wheels for collected packages: im-tutorials
  Building wheel for im-tutorials (setup.py) ... done
  Created wheel for im-tutorials: filename=im_tutorials-0.1.0-cp36-none-any.whl size=12596 sha256=233254caafcbeae6ab61da7867abdce1047ba314581a21081ff2f4d2c631f7c0
  Stored in directory: /tmp/pip-ephem-wheel-cache-aq8jxtbh/wheels/47/a3/cb/bdc5f9ba49bcfd2c6864b166a1566eb2f104113bf0c3500330
Successfully built im-tutorials

In [4]:
# Import

# numpy for mathematical functions
import numpy as np
# pandas for handling tabular data
import pandas as pd
# explained later
from im_tutorials.data import cordis

# Read or Import Data

## Creating DataFrames

In [7]:
# useful for hacking
df = pd.DataFrame(
    {'col1' : ['a', 'b', 'c'],
    'col2' : ['d', 'e', 'f'],
    'col3' : [1, 2, 3],
    'col4' : [4, 5, 6]}
)

## Read Files

In [ ]:
#i if working from a local .csv file
df = pd.read_csv('file.csv')

In [6]:
# maybe use cordis
cordis_projects_df = cordis.h2020_projects()

/home/ao95/miniconda3/envs/pyenv_nesta/lib/python3.6/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

# A Look at the Data

In [12]:
# talk about the axes here?

Can view the top n rows (by default n=5 if number of rows are over 5)

In [10]:
cordis_projects_df.head(n=3)

,rcn,id,acronym,status,programme,topics,frameworkProgramme,title,startDate,endDate,...,fundingScheme,coordinator,coordinatorCountry,participants,participantCountries,subjects,organisations,countries,startYear,endYear
0,218249,822106,WeldGalaxy,SIGNED,"[H2020-EU.2.1.3., H2020-EU.2.1.5.1.]",DT-NMBP-20-2018,H2020,Digital Dynamic Knowledge Platform for Welding...,2018-10-01,2022-03-31,...,IA-LS,TWI LIMITED,UK,"[LULEA TEKNISKA UNIVERSITET, ROMSOFT SRL, TECH...","[SE, RO, UK, NO, PL, FR, IL, ES]",NaN,"[TWI LIMITED, LULEA TEKNISKA UNIVERSITET, ROMS...","[UK, SE, RO, UK, NO, PL, FR, IL, ES]",2018.0,2022.0
1,218272,822064,MARKET4.0,SIGNED,"[H2020-EU.2.1.3., H2020-EU.2.1.5.1.]",DT-NMBP-20-2018,H2020,A Multi-Sided Business Platform for Plug and P...,2018-11-01,2022-04-30,...,IA-LS,INTRASOFT INTERNATIONAL SA,BE,"[N.BAZIGOS ABEE, NEDERLANDSE ORGANISATIE VOOR ...","[EL, NL, ES, DE, IT, FR, AT, LU, LT]",NaN,"[INTRASOFT INTERNATIONAL SA, N.BAZIGOS ABEE, N...","[BE, EL, NL, ES, DE, IT, FR, AT, LU, LT]",2018.0,2022.0
2,216937,816551,SCOPIO,SIGNED,"[H2020-EU.3., H2020-EU.2.3., H2020-EU.2.1.]",EIC-SMEInst-2018-2020,H2020,"High-resolution, all-digital microscope that a...",2018-05-01,2018-08-31,...,SME-1,SCOPIO LABS LTD,IL,NaN,NaN,NaN,[SCOPIO LABS LTD],[IL],2018.0,2018.0

Or view the last n rows (n = 5 by default)

In [11]:
cordis_projects_df.tail(n=3)

,rcn,id,acronym,status,programme,topics,frameworkProgramme,title,startDate,endDate,...,fundingScheme,coordinator,coordinatorCountry,participants,participantCountries,subjects,organisations,countries,startYear,endYear
20511,205207,695136,Secret-Cells,SIGNED,[H2020-EU.1.1.],ERC-ADG-2015,H2020,Cellular diversity and stress-induced cell-sta...,2016-09-01,2021-08-31,...,ERC-ADG,MEDIZINISCHE UNIVERSITAET WIEN,AT,NaN,NaN,NaN,[MEDIZINISCHE UNIVERSITAET WIEN],[AT],2016.0,2021.0
20512,205186,682022,MEDIATE,SIGNED,[H2020-EU.1.1.],ERC-CoG-2015,H2020,"Middlebrow Enlightenment: Disseminating Ideas,...",2016-09-01,2021-08-31,...,ERC-COG,STICHTING KATHOLIEKE UNIVERSITEIT,NL,NaN,NaN,NaN,[STICHTING KATHOLIEKE UNIVERSITEIT],[NL],2016.0,2021.0
20513,205195,693039,Sphingolead,SIGNED,[H2020-EU.1.1.],ERC-PoC-2015,H2020,Development of a potent dual GCS/GBA2 inhibito...,2016-09-01,2018-02-28,...,ERC-POC,UNIVERSITEIT LEIDEN,NL,NaN,NaN,NaN,[UNIVERSITEIT LEIDEN],[NL],2016.0,2018.0

In [16]:
# checking column data types
for col in cordis_projects_df.columns:
    print("Column {} is of {} type".format(col, cordis_projects_df[col].dtype))

Column rcn is of int64 type
Column id is of int64 type
Column acronym is of object type
Column status is of object type
Column programme is of object type
Column topics is of object type
Column frameworkProgramme is of object type
Column title is of object type
Column startDate is of datetime64[ns] type
Column endDate is of datetime64[ns] type
Column projectUrl is of object type
Column objective is of object type
Column totalCost is of float64 type
Column ecMaxContribution is of float64 type
Column call is of object type
Column fundingScheme is of object type
Column coordinator is of object type
Column coordinatorCountry is of object type
Column participants is of object type
Column participantCountries is of object type
Column subjects is of float64 type
Column organisations is of object type
Column countries is of object type
Column startYear is of float64 type
Column endYear is of float64 type

In [ ]:
#exaplain axis 0 and axis 1 (pic of axis)

## Maths & Summaries

In [18]:
df.sum()

col1    abc
col2    def
col3      6
col4     15
dtype: object

In [19]:
# count of number of elements present in column
df.count()

# or if you want the result of one column (can do this for any method)
df['col3'].count()

col1    3
col2    3
col3    3
col4    3
dtype: int64

In [16]:
# only on numerical columns
df.describe()

       col3  col4
count   3.0   3.0
mean    2.0   5.0
std     1.0   1.0
min     1.0   4.0
25%     1.5   4.5
50%     2.0   5.0
75%     2.5   5.5
max     3.0   6.0

In [17]:
#or can separately get this results
df.mean()

col3    2.0
col4    5.0
dtype: float64

Now try other methods such as .min(), .max(), .mean(), .median(), .var() and .std().

In [29]:
# write code here

In [27]:
#can add across columns

df['col3'] + df['col4']

0    5
1    7
2    9
dtype: int64

Now try add two columns that have different datatypes and see what happens

In [ ]:
# write code here

# Cleaning

Handling Missing Data

In [ ]:
df.drop(columns, inplace=True, axis=1)

filter(using conditons)

## po

# Data Wrangling

In [ ]:
# add new columns
cordis_projects_df['ones'] 
#group data & apply a function

# Available Datasets

How to read these